@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background: #ffffff;
}

ul {
  list-style: none;
}

ul {
  color: #000;
  list-style: none;
}

.container-header {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container__section-hero {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container__section-advantages {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-our-work {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container__section-our-team {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 1200px;
}

.container-filter-button {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.container-cartridge {
  padding-left: 15px;
  width: 1200px;
  margin-left: auto;
  padding-right: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: auto;
}

.container__section-hero {
  padding-left: 15px;
  width: 1200px;
  margin-left: auto;
  padding-right: 15px;
  margin-right: auto;
}

.container-footer {
  padding-left: 15px;
  width: 1200px;
  margin-left: auto;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.container__section-our-team {
  padding-left: 15px;
  width: 1200px;
  margin-left: auto;
  padding-right: 15px;
  margin-right: auto;
}

.container-footer-port {
  padding-left: 15px;
  width: 1230px;
  margin-left: auto;
  padding-right: 15px;
  margin-right: auto;
}

.container-regular-customers {
  padding-left: 15px;
  width: 1200px;
  margin-left: auto;
  padding-right: 15px;
  margin-right: auto;
  padding: 0px;
}

.Container-img {
  margin-bottom: 20px;
  margin-top: 0px;
}

.body {
  background: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__adres-div {
  margin-right: 70px;
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__item:focus, .footer__item:hover {
  color: #2196f3;
}

.footer__logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer__web-color {
  color: #2196F3;
}

.footer__list {
  padding: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.footer__list:last-child {
  margin: 0px;
}

.footer__link-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-item__mail,
.footer-item__telephone {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item__mail:hover, .footer-item__mail:focus,
.footer-item__telephone:hover,
.footer-item__telephone:focus {
  color: #2196f3;
}

.footer__social-network {
  margin-left: 70px;
  padding: 0px;
}

.footer__title-social-network {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer-social-network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.footer-social-network__item {
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-network__item:last-child {
  margin-right: 0px;
}

.footer-social-network__item:hover, .footer-social-network__item:focus, .footer-social-network__item:active {
  border-color: #2196f3;
}

.footer-social-network__item :hover {
  background-color: #2196f3;
}

.footer-social-network__svg {
  width: 20px;
  height: 20px;
  margin: 12px;
  fill: #ffffff;
}

.footer-social-network__svg:hover, .footer-social-network__svg:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.footer-social-network__link {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-network__link :hover,
.footer-social-network__link :focus,
.footer-social-network__link :active {
  border-color: #2196f3;
}

.footer__subscribe-to-the-newsletter {
  margin-left: 93px;
}

.footer__heading-subscribe {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer__input-email input {
  color: #F5F4FA;
}

.footer__input-email {
  width: 358px;
  height: 50px;
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-decoration: #FFFFFF;
          text-decoration: #FFFFFF;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 12px;
  color: #F5F4FA;
}

.footer__subscribe-button {
  position: relative;
  width: 200px;
  height: 50px;
  margin: 0px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
}

.subscribe-to-the-newsletter__svg {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  -webkit-transform: translate(-96%, 50%);
          transform: translate(-96%, 50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.subscribe-to-the-newsletter-svg {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  -webkit-transform: translate(-96%, 50%);
          transform: translate(-96%, 50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__heading-social-network {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  font-weight: 700;
}

.header {
  background: #ffffff;
  color: #212121;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.header__navigation-list a {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  margin-left: 50px;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__navigation-list :hover,
.header__navigation-list :focus {
  color: #2196f3;
}

.list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.border-a ::after {
  content: "";
  position: absolute;
  background: #2196F3;
  border-radius: 2px;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  opacity: 1;
}

.header__navigation-list :last-child {
  margin-right: 0px;
}

.current {
  color: #2196f3;
  position: relative;
  height: 100%;
}

.navigation-list__link {
  padding: 0px;
  display: block;
  margin-bottom: 0px;
  margin-top: 0px;
}

.header-contakts__list {
  margin-bottom: 0px;
  margin-top: 0px;
  fill: #757575;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header-contakts__list :hover,
.header-contakts__list :focus {
  color: #2196f3;
  fill: #2196f3;
}

.header-contakts__list :last-child {
  margin-right: 0px;
}

.header-contakts__contakt-item {
  fill: #757575;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
}

.header-contakts__contakt-item :hover,
.header-contakts__contakt-item :focus {
  color: #2196f3;
  fill: #2196f3;
}

.header-contakts__contakt-item :last-child {
  margin-right: 0px;
}

.header-contakts__contakt-item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 30px;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-svg-mail {
  height: 12px;
  margin-right: 10px;
  width: 16px;
}

.head-svg-phone {
  height: 16px;
  width: 10px;
  /* margin-right: 10px; */
}

.header__logo {
  font-style: normal;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  /* identical to box height */
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__color {
  color: #2196f3;
}

.logo__color-a,
.web-color-a {
  color: #000000;
}

.footer__web-color-b {
  color: #ffffff;
}

.section-advantages__hide {
  display: none;
}

.section-advantages {
  background: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0px;
}

.section-advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* margin: 0px; */
  padding: 0px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.section-advantages__item {
  margin-right: 30px;
}

.section-advantages__item :last-child {
  margin-right: 0px;
}

.section-advantages__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.section-advantages__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  margin: 0px;
}

.section-advantages__card-title {
  padding-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}

.section-advantages__card-text {
  color: #757575;
  margin-right: 30px;
  width: 270px;
  height: 75px;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

.name {
  /*геометрия*/
  padding-bottom: 200px;
  padding-top: 200px;
  /*цвет*/
  background: #2f303a;
  color: #ffffff;
  text-align: center;
}

.section-hero__title-hero {
  /*геометрия*/
  /*цвет*/
  margin-bottom: 30px;
  margin-top: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  /*динамика*/
}

.section-hero {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/Hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Hero.jpg);
  /* background-image:  */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-hero__button {
  display: inline-block;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /*кнопка параметры*/
  min-width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* color: rgba(0, 0, 0, 0.2); */
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.modal {
  padding: 40px 39px 40px 41px;
  width: 528px;
  height: 581px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.button-closet {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  content: "";
  padding: 0px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* box-sizing: border-box; */
  background-color: #FFFFFF;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
}

.closet-svg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: translate(26%, 22%);
          transform: translate(26%, 22%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closet-svg :hover
.closet-svg :focus {
  fill: #2196f3;
}

.section-our-team {
  background: #f5f4fa;
}

.section-our-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 50px;
  background: #f5f4fa;
  padding-top: 94px;
}

.section-our-team__title-name {
  padding-top: 0px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-our-team__text-spetikatoon {
  padding-top: 0px;
}

.section-our-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  padding-bottom: 94px;
}

.section-our-team__item,
.section-our-team__item-a {
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 270px;
  height: 428px;
}

.section-our-team__item {
  margin-right: 30px;
}

.section-our-team__item-a {
  margin-right: 0px;
}

.section-our-team__text-spetikatoon {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-our-team__spetifikation {
  padding: 30px 32px;
}

.section-our-team__photo {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: 0px;
}

.section-our-team__list-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 30px;
}

.section-our-team__list-contacts :last-child {
  margin-right: 0px;
}

.section-our-team__list-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  margin-top: 16px;
}

.section-our-team__item-contacts {
  padding: 0px;
  border: none;
  /* fill: currentColor; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  margin-right: 10px;
  fill: #AFB1B8;
  /* transition-property: background;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: (0.4, 0, 0.2, 1); */
}

.section-our-team__item-contacts :hover,
.section-our-team__item-contacts :focus {
  background-color: #2196f3;
  fill: #F5F4FA;
}

.section-our-team__link-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  fill: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-our-team__svg-contacts {
  width: 20px;
  height: 20px;
  margin: 12px;
}

.section-our-work {
  padding-bottom: 94px;
}

.section-our-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0px; */
  margin: 0px;
  padding: 0px;
}

.section-our-work__list .section-our-work__item {
  margin-right: 30px;
  display: block;
}

.section-our-work__list :last-child {
  margin-right: 0px;
}

.section-our-work__item {
  margin-right: 30px;
  display: block;
}

.section-our-work__item :last-child {
  margin: 0px;
}

.section-our-work__title {
  margin-top: 0;
  margin-bottom: 50;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.section-regular-customers {
  padding: 0px;
  margin-bottom: 94px;
  margin-top: 94px;
}

.regular-customers__title {
  /* display: block;
    justify-content: center; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.regular-customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.regular-customers__item {
  fill: #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0px;
  margin-right: 30px;
}

.regular-customers__item :hover,
.regular-customers__item :focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.regular-customers__item :last-child {
  margin-right: 0px;
}

.regular-customers__link {
  display: block;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #AFB1B8;
  background-color: #ffffff;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__link :hover,
.regular-customers__link :focus {
  background-color: #ffffff;
  border-color: #2196f3;
  fill: #2196f3;
}

.regular-customers__svg {
  width: 106px;
  height: 60px;
  margin: 16px 32px;
}

.regular-customers__svg :hover,
.regular-customers__svg :focus {
  fill: #afb1b8;
}

.section-our-work__item {
  position: relative;
}

.section-our-work__div {
  position: relative;
}

.section-our-work-card-design__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  left: 0;
  bottom: 0;
  padding: 27px;
}

.section-our-work__card-design {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.container-cartridge {
  margin-top: 0px;
  margin-bottom: 20px;
}

.cartridge__item {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.cartridge__item:hover .cartridge__text,
.cartridge__item:focus .cartridge__text {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cartridge__item:hover, .cartridge__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cartridge__name {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 4px;
}

.ccartridge-picture__text {
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}

.cartridge__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
}

.cartridge__list :nth-child(3n+3) {
  margin-right: 0px;
}

.cartridge__list :nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.cartridge__name {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.cartridge__text {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 24px;
  /* position: absolute;
     content: ""; */
  display: block;
  /* bottom: 0;
    left: 0; */
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #F5F4FA !important;
  padding: 0px 24px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}

.image__div {
  padding: 20px 24px;
}

.list {
  text-decoration: none;
}

.image-fone-portfolio {
  position: relative;
  overflow: hidden;
}

.section__filter-button {
  padding-bottom: 94px;
  padding-top: 94px;
}

.overlay {
  content: "";
  position: absolute;
  bottom: -100;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 24px;
  /* transform: translateY(101%); */
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay ::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 24px;
  -webkit-transform: translateY(calc(+1% + 300px));
          transform: translateY(calc(+1% + 300px));
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  /* position: absolute;
        content: ""; */
  display: block;
  /* bottom: 0;
       left: 0; */
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #F5F4FA !important;
  padding: 0px 24px;
}

.header_portfolio {
  background: #ffffff;
  color: #212121;
  border-bottom: 1px solid  #ECECEC;
}

.image-fone-portfolio {
  position: relative;
  /* overflow: hidden; */
}

.header__hide {
  display: none;
}

.section__filter-button {
  padding-bottom: 94px;
  padding-top: 94px;
}

.filter-button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.filter-button__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  margin-left: 8px;
  padding: 0px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button__item:hover, .filter-button__item:focus, .filter-button__item:active {
  color: #ffffff;
  background-color: #2196f3;
}

.filter__button:last-child {
  margin-right: 0px;
}

.filter__button :hover,
.filter__button :active,
.filter__button :focus {
  color: #ffffff;
  background-color: var(--button-background);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.filter__button:hover, .filter__button:focus, .filter__button:active {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button :last-child {
  margin-right: 0px;
}

.border {
  border: none;
}

.containre-backdrop {
  margin: 40px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* color: rgba(0, 0, 0, 0.2); */
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

/* .section-hero{
  position: relative;
} */
.modal {
  padding: 40px 39px 40px 41px;
  width: 528px;
  height: 581px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.button-closet {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  content: "";
  padding: 0px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* box-sizing: border-box; */
  background-color: #FFFFFF;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
}

.closet-svg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: translate(26%, 22%);
          transform: translate(26%, 22%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closet-svg:focus,
.closet-svg:active,
.closet-svg:hover {
  fill: #2196f3;
}

.span-label {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  text-align: left;
  letter-spacing: 0.01em;
}

.modal-name {
  position: relative;
  color: #757575;
}

.modal-name-checkbox {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.16;
  text-align: left;
  letter-spacing: 0.01em;
  color: #757575;
}

textarea {
  resize: none;
}

.modal__h2 {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  /* padding-top: 40px; */
  margin-bottom: 12px;
  color: #212121;
}

.modal-div {
  position: relative;
}

.modal-button-send-form {
  /* position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%); */
  margin: 0 auto;
  margin-top: 30px;
  border: none;
  /* bottom: 40px;  */
  width: 200px;
  height: 50px;
  /* left: 700px;
top: 712px; */
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  /* margin-top: 30px;
margin-bottom: 40px;
padding: 0px; */
}

.contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.form {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  /* box-sizing: border-box; */
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 500px; */
}

.form-grup-name,
.form-grup-phone,
.form-grup-mail {
  /* position: relative; */
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group-coments {
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* .form-grup-name:focus,
.form-grup-name:hover,
.form-grup-name:active,
.form-grup-phone:active,
.form-grup-phone:focus,
.form-grup-phone:hover,
.form-grup-mail:hover,
.form-grup-mail:focus,
.form-grup-mail:active,
.form-group-coments:hover,
.form-group-coments:focus,
.form-group-coments:active,
.modal-name:hover{
  border-color: var(--accent-color);
 
} */
.input-modal:focus + .maodal-svg,
.input-modal:hover + .maodal-svg {
  border-color: #2196f3;
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* left: 95%; */
  /* transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1) */
}

.input-modal:active,
.input-modal:focus
.input-modal:hover {
  border: 1px solid #2196f3;
}

.form-grup input {
  padding: 11px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-grup label {
  margin-bottom: 4px;
}

.sizing {
  /* width: 448px; */
  /* height: 342px;
  padding: 75px 40px 164px 40px ;
 padding-bottom: 10px;
 padding-top: 10px; */
  margin-left: 40px;
  margin-right: 40px;
}

.form-group-coments textarea {
  height: 120px;
}

.input-modal {
  width: 448px;
  height: 40px;
  padding: 11px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  /* box-sizing: border-box; */
  border-radius: 4px;
  padding-left: 25px;
  margin-top: 4px;
  /* margin-bottom: 10px; */
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:active,
.input-modal:hover,
.input-modal:focus {
  border-color: #2196f3;
}

.input-modal:active + .maodal-svg :hover,
.input-modal:active + .maodal-svg :focus,
.input-modal:active + .maodal-svg :active,
.input-modal:hover + .maodal-svg :hover,
.input-modal:hover + .maodal-svg :focus,
.input-modal:hover + .maodal-svg :active,
.input-modal:focus + .maodal-svg :hover,
.input-modal:focus + .maodal-svg :focus,
.input-modal:focus + .maodal-svg :active {
  fill: #2196f3;
}

.input-modal-coment {
  width: 448px;
  height: 120px;
  padding: 11px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  /* box-sizing: border-box; */
  border-radius: 4px;
  margin-top: 4px;
  /* margin-bottom: 20px; */
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal-coment:active,
.input-modal-coment:hover,
.input-modal-coment:focus {
  border-color: #2196f3;
}

.maodal-svg {
  position: absolute;
  fill: #000000;
  top: 0;
  left: 0;
  -webkit-transform: translate(12px, 33px);
          transform: translate(12px, 33px);
  opacity: 1;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #2196f3;
}

.form-grup-checkbox {
  position: relative;
}

.rel {
  position: relative;
  border-color: #2196f3;
}

.modal-name {
  position: relative;
  /* border: 2px solid var(--accent-color); */
}

.checkbox-modal {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.span-checkbox {
  position: absolute;
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  top: 0;
  left: 0;
  -webkit-transform: translate(-150%);
          transform: translate(-150%);
  /* background-color: var(--accent-color);
   background-image: url(../image/icon\ check.svg */
}

.checkbox-modal:checked ~ .span-checkbox {
  background-color: #2196f3;
  background-image: url(../../image/Vector-check.svg);
  background-size: contain;
  background-origin: content-box;
  border-color: #2196f3;
  background-repeat: no-repeat;
  background-position: center;
}

.section__filter-button {
  padding-bottom: 94px;
  padding-top: 94px;
}

.filter-button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.filter-button__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  margin-left: 8px;
  padding: 0px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button__item:hover, .filter-button__item:focus, .filter-button__item:active {
  color: #ffffff;
  background-color: #2196f3;
}

.filter__button:last-child {
  margin-right: 0px;
}

.filter__button :hover,
.filter__button :active,
.filter__button :focus {
  color: #ffffff;
  background-color: var(--button-background);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.filter__button:hover, .filter__button:focus, .filter__button:active {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button :last-child {
  margin-right: 0px;
}

.border {
  border: none;
}

.section__filter-button {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section__filter-button {
  padding-bottom: 94px;
  padding-top: 94px;
}

.filter-button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.filter-button__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  margin-left: 8px;
  padding: 0px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button__item:hover, .filter-button__item:focus, .filter-button__item:active {
  color: #ffffff;
  background-color: #2196f3;
}

.filter__button:last-child {
  margin-right: 0px;
}

.filter__button :hover,
.filter__button :active,
.filter__button :focus {
  color: #ffffff;
  background-color: var(--button-background);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.filter__button:hover, .filter__button:focus, .filter__button:active {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button :last-child {
  margin-right: 0px;
}

.border {
  border: none;
}
/*# sourceMappingURL=main.css.map */