@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background: #ffffff;
}

ul {
  list-style: none;
}

ul {
  color: #000;
  list-style: none;
}

.container-header {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container-header {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-header {
    width: 1200px;
  }
}

.container__section-hero {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container__section-hero {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container__section-hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container__section-hero {
    width: 1200px;
  }
}

.container__section-advantages {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container__section-advantages {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container__section-advantages {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container__section-advantages {
    width: 1200px;
  }
}

.section-our-work {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .section-our-work {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .section-our-work {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section-our-work {
    width: 1200px;
  }
}

.container__section-our-team {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
  padding: 0px;
}

@media screen and (min-width: 480px) {
  .container__section-our-team {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container__section-our-team {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container__section-our-team {
    width: 1200px;
  }
}

.container-filter-button {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container-filter-button {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-filter-button {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-filter-button {
    width: 1200px;
  }
}

.container-cartridge {
  padding-left: 15px;
  margin-left: auto;
  padding-right: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: auto;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container-cartridge {
    width: 480px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .container-cartridge {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-cartridge {
    width: 1200px;
  }
}

.container__section-hero {
  padding-left: 15px;
  margin: 0 auto;
  margin-left: auto;
  padding-right: 15px;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container__section-hero {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container__section-hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container__section-hero {
    width: 1200px;
  }
}

.container-footer {
  padding-left: 15px;
  margin: 0 auto;
  margin-left: auto;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container-footer {
    width: 480px;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container__section-our-team {
  padding-left: 15px;
  margin: 0 auto;
  margin-left: auto;
  padding-right: 15px;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container__section-our-team {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container__section-our-team {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container__section-our-team {
    width: 1200px;
  }
}

.container-footer-port {
  padding-left: 15px;
  margin: 0 auto;
  margin-left: auto;
  padding-right: 15px;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container-footer-port {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-footer-port {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer-port {
    width: 1200px;
  }
}

.container-regular-customers {
  padding-left: 15px;
  margin: 0 auto;
  margin-left: auto;
  padding-right: 15px;
  margin-right: auto;
  padding: 0px;
}

@media screen and (min-width: 480px) {
  .container-regular-customers {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-regular-customers {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-regular-customers {
    width: 1200px;
  }
}

.header {
  background: #ffffff;
  color: #212121;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480) {
  .header__navigation {
    display: block;
  }
}

@media screen and (min-width: 768) {
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*меню*/
@media screen and (min-width: 480px) {
  .header__navigation-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__navigation-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .header__navigation-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

.header__navigation-list a {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  margin-left: 50px;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__navigation-list :active,
.header__navigation-list :hover,
.header__navigation-list :focus {
  color: #2196f3;
}

.list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*полоска*/
@media screen and (min-width: 768px) {
  .border-a ::after {
    content: "";
    position: absolute;
    background: #2196F3;
    border-radius: 2px;
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 4px;
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .border-a ::after {
    content: "";
    position: absolute;
    background: #2196F3;
    border-radius: 2px;
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 4px;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .current {
    color: #2196f3;
    position: relative;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .current {
    color: #2196f3;
    position: relative;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header__navigation-list :last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header__navigation-list :last-child {
    margin-right: 0px;
  }
}

.navigation-list__link {
  padding: 0px;
  display: block;
  margin-bottom: 0px;
  margin-top: 0px;
}

.header-contakts__list {
  margin-bottom: 0px;
  margin-top: 0px;
  fill: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header-contakts__list :hover,
.header-contakts__list :focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 480px) {
  .header-contakts__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-contakts__list {
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-contakts__list :last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-contakts__list {
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-contakts__list :last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contakts__contakt-item {
    fill: #757575;
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
  }
  .header-contakts__contakt-item :hover,
  .header-contakts__contakt-item :focus {
    color: #2196f3;
    fill: #2196f3;
  }
  .header-contakts__contakt-item :last-child {
    margin-right: 0px;
  }
  .header-contakts__contakt-item a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 30px;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .header-contakts__contakt-item {
    fill: #757575;
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
  }
  .header-contakts__contakt-item :hover,
  .header-contakts__contakt-item :focus {
    color: #2196f3;
    fill: #2196f3;
  }
  .header-contakts__contakt-item :last-child {
    margin-right: 0px;
  }
  .header-contakts__contakt-item a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 30px;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .head-svg-mail {
    height: 12px;
    margin-right: 10px;
    width: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .head-svg-mail {
    height: 12px;
    margin-right: 10px;
    width: 16px;
  }
}

@media screen and (min-width: 768px) {
  .head-svg-phone {
    height: 16px;
    width: 10px;
    /* margin-right: 10px; */
  }
}

@media screen and (min-width: 1200px) {
  .head-svg-phone {
    height: 16px;
    width: 10px;
    /* margin-right: 10px; */
  }
}

.header__logo {
  font-style: normal;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  /* identical to box height */
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__color {
  color: #2196f3;
}

.logo__color-a,
.web-color-a {
  color: #000000;
}

.footer__web-color-b {
  color: #ffffff;
}

.name {
  background: #2f303a;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .name {
    /*геометрия*/
    padding-bottom: 118px;
    padding-top: 118px;
    /*цвет*/
  }
}

@media screen and (min-width: 768px) {
  .name {
    padding-bottom: 118px;
    padding-top: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .name {
    /*геометрия*/
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.section-hero__title-hero {
  /*геометрия*/
  /*цвет*/
  margin-bottom: 30px;
  margin-top: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  /*динамика*/
}

.section-hero {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/Hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Hero.jpg);
  /* background-image:  */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 480px) {
  .section-hero {
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 1199px;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    max-width: 1600px;
  }
}

.section-hero__button {
  display: inline-block;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /*кнопка параметры*/
  min-width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
}

.section-advantages__hide {
  display: none;
}

.section-advantages {
  background: #ffffff;
  margin: 0px;
}

@media screen and (min-width: 480px) {
  .section-advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .section-advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-advantages__list {
  margin-left: auto;
  margin-right: auto;
  /* margin: 0px; */
  padding: 0px;
}

@media screen and (min-width: 480px) {
  .section-advantages__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .section-advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .section-advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .section-advantages__item {
    width: calc( (100%-2+30)/2);
  }
}

@media screen and (min-width: 1200px) {
  .section-advantages__item :last-child {
    margin-right: 0px;
  }
}

.section-advantages__div {
  border-radius: 4px;
  background-color: #F5F4FA;
}

@media screen and (min-width: 480px) {
  .section-advantages__div {
    position: relative;
    border-radius: 4px;
    position: relative;
    width: 450px;
    height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .section-advantages__div {
    width: 354px;
    margin-right: 30px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .section-advantages__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 270px;
    height: 120px;
  }
}

.section-advantages__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  margin: 0px;
}

@media screen and (min-width: 480px) {
  .section-advantages__svg {
    position: absolute;
    content: "";
    top: 50%;
    right: 50%;
    -webkit-transform: translate(33%, -41%);
            transform: translate(33%, -41%);
  }
}

.section-advantages__card-title {
  padding-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) and (max-width: 1100px) {
  .section-advantages__card-title {
    text-align: center;
  }
}

.section-advantages__card-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .section-advantages__card-text {
    width: 450px;
    height: 50px;
  }
}

@media screen and (min-width: 768px) {
  .section-advantages__card-text {
    width: 354px;
    height: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .section-advantages__card-text {
    width: 270px;
    height: 75px;
  }
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (min-width: 480px) {
  .section-our-work {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section-our-work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section-our-work {
    display: block;
    padding-bottom: 94px;
  }
}

.section-our-work {
  padding-bottom: 94px;
}

.section-our-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0px; */
  margin: 0px;
  padding: 0px;
}

.section-our-work__list .section-our-work__item {
  margin-right: 30px;
  display: block;
}

.section-our-work__list :last-child {
  margin-right: 0px;
}

.section-our-work__item {
  margin-right: 30px;
  display: block;
}

.section-our-work__item :last-child {
  margin: 0px;
}

.section-our-work__title {
  margin-top: 0;
  margin-bottom: 50;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.section-our-work__item {
  position: relative;
}

.section-our-work__div {
  position: relative;
}

.section-our-work-card-design__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  left: 0;
  bottom: 0;
  padding: 27px;
}

.section-our-work__card-design {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.section-our-team {
  background: #f5f4fa;
}

.section-our-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 50px;
  background: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .section-our-team__title {
    padding-top: 0px;
  }
}

@media screen and (min-width: 480px) {
  .section-our-team__title {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-our-team__title {
    padding-top: 94px;
  }
}

.section-our-team__title-name {
  padding-top: 0px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-our-team__text-spetikatoon {
  padding-top: 0px;
}

@media screen and (min-width: 480px) {
  .section-our-team__list {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .section-our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    padding-bottom: 94px;
  }
}

.section-our-team__item,
.section-our-team__item-a {
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 270px;
}

@media screen and (min-width: 480px) {
  .section-our-team__item,
  .section-our-team__item-a {
    width: 450px;
    height: 622;
  }
}

@media screen and (min-width: 768px) {
  .section-our-team__item,
  .section-our-team__item-a {
    width: calc( (100%-2+30)/2);
  }
}

@media screen and (min-width: 1200px) {
  .section-our-team__item,
  .section-our-team__item-a {
    width: 270px;
    height: 428px;
  }
}

@media screen and (min-width: 480px) {
  .section-our-team__item-a,
  .section-our-team__item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .section-our-team__item-a,
  .section-our-team__item {
    margin-bottom: 30px;
    width: calc( (100%-2+30)/2);
  }
}

@media screen and (min-width: 1200px) {
  .section-our-team__item-a,
  .section-our-team__item {
    margin-right: 30px;
  }
}

.section-our-team__item-a {
  margin-right: 0px;
}

.section-our-team__text-spetikatoon {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-our-team__spetifikation {
  padding: 30px 32px;
}

@media screen and (min-width: 1200px) {
  .section-our-team__spetifikation {
    padding: 30px 74px 24px 74px;
  }
}

@media screen and (min-width: 1200px) {
  .section-our-team__spetifikation {
    padding: 30px 74px 24px 74px;
  }
}

@media screen and (min-width: 1200px) {
  .section-our-team__spetifikation {
    padding: 30px 32px;
  }
}

@media screen and (min-width: 480px) and (min-width: 480px) {
  .img {
    width: 100%;
  }
}

.section-our-team__list-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 30px;
}

.section-our-team__list-contacts :last-child {
  margin-right: 0px;
}

.section-our-team__list-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  margin-top: 16px;
}

.section-our-team__item-contacts {
  padding: 0px;
  border: none;
  /* fill: currentColor; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  margin-right: 10px;
  fill: #AFB1B8;
  /* transition-property: background;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: (0.4, 0, 0.2, 1); */
}

.section-our-team__item-contacts :hover,
.section-our-team__item-contacts :focus {
  background-color: #2196f3;
  fill: #F5F4FA;
}

.section-our-team__link-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  fill: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-our-team__svg-contacts {
  width: 20px;
  height: 20px;
  margin: 12px;
}

.section-regular-customers {
  padding: 0px;
  margin-bottom: 94px;
  margin-top: 94px;
}

@media screen and (min-width: 480px) {
  .section-regular-customers {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .section-regular-customers {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-regular-customers {
    margin-bottom: 94px;
    margin-top: 94px;
  }
}

.regular-customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .regular-customers__title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .regular-customers__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .regular-customers__list {
    padding: 0px;
    margin-right: -15px;
    margin-left: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .regular-customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.regular-customers__item {
  fill: #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0px;
}

.regular-customers__item :hover,
.regular-customers__item :focus {
  border-color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 480px) {
  .regular-customers__item {
    margin-bottom: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    fle-basis: calc(100% / 2 - 30px);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1100px) {
  .regular-customers__item {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers__item {
    margin-right: 30px;
  }
  .regular-customers__item :last-child {
    margin-right: 0px;
  }
}

.regular-customers__link {
  display: block;
  fill: #afb1b8;
  border: 1px solid #AFB1B8;
  background-color: #ffffff;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__link :hover,
.regular-customers__link :focus {
  background-color: #ffffff;
  border-color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 480px) {
  .regular-customers__link {
    width: 210px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .regular-customers__link {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers__link {
    width: 170px;
    height: 92px;
  }
}

.regular-customers__svg {
  width: 106px;
  height: 60px;
}

.regular-customers__svg :hover,
.regular-customers__svg :focus {
  fill: #afb1b8;
}

@media screen and (min-width: 480px) {
  .regular-customers__svg {
    margin: 16px 52px;
  }
}

@media screen and (min-width: 768px) {
  .regular-customers__svg {
    margin: 16px 60px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers__svg {
    margin: 16px 32px;
  }
}

@media screen and (min-width: 480px) {
  .footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__adres-div {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__adres-div {
    margin-right: 70px;
  }
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .footer__item {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item {
    margin-bottom: 9px;
  }
}

.footer__item:focus, .footer__item:hover {
  color: #2196f3;
}

.footer__logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer__web-color {
  color: #2196F3;
}

.footer__list {
  padding: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.footer__list:last-child {
  margin: 0px;
}

.footer__link-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-item__mail,
.footer-item__telephone {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item__mail:hover, .footer-item__mail:focus,
.footer-item__telephone:hover,
.footer-item__telephone:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer__social-network {
    margin-left: 70px;
    padding: 0px;
  }
}

.footer__title-social-network {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .footer-social-network__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    margin: 0px;
  }
}

.footer-social-network__item {
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-network__item:hover, .footer-social-network__item:focus, .footer-social-network__item:active {
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer-social-network__item:last-child {
    margin-right: 0px;
  }
}

.footer-social-network__item :hover {
  background-color: #2196f3;
}

.footer-social-network__svg {
  width: 20px;
  height: 20px;
  margin: 12px;
  fill: #ffffff;
}

.footer-social-network__svg:hover, .footer-social-network__svg:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.footer-social-network__link {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-network__link :hover,
.footer-social-network__link :focus,
.footer-social-network__link :active {
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer__subscribe-to-the-newsletter {
    margin-left: 93px;
  }
}

.footer__heading-subscribe {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer__input-email input {
  color: #F5F4FA;
}

.footer__input-email {
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-decoration: #FFFFFF;
          text-decoration: #FFFFFF;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 12px;
  color: #F5F4FA;
}

@media screen and (min-width: 480px) {
  .footer__input-email {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer__input-email {
    width: 450px;
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input-email {
    width: 358px;
    height: 50px;
  }
}

.footer__subscribe-button {
  position: relative;
  width: 200px;
  height: 50px;
  margin: 0px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
}

.subscribe-to-the-newsletter__svg {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  -webkit-transform: translate(-96%, 50%);
          transform: translate(-96%, 50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.subscribe-to-the-newsletter-svg {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  -webkit-transform: translate(-96%, 50%);
          transform: translate(-96%, 50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__heading-social-network {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */