@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background: #ffffff;
}

ul {
  list-style: none;
}

ul {
  color: #000;
  list-style: none;
}

.container-header {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container-header {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-header {
    width: 1200px;
  }
}

.container__section-hero {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container__section-hero {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container__section-hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container__section-hero {
    width: 1200px;
  }
}

.container__section-advantages {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container__section-advantages {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container__section-advantages {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container__section-advantages {
    width: 1200px;
  }
}

.section-our-work {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .section-our-work {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .section-our-work {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section-our-work {
    width: 1200px;
  }
}

.container__section-our-team {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container__section-our-team {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container__section-our-team {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container__section-our-team {
    width: 1200px;
  }
}

.container-filter-button {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container-filter-button {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-filter-button {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-filter-button {
    width: 1200px;
  }
}

.container-cartridge {
  padding-left: 15px;
  width: 100%;
  margin-left: auto;
  padding-right: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: auto;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container-cartridge {
    width: 480px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .container-cartridge {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-cartridge {
    width: 1200px;
  }
}

.container__section-hero {
  padding-left: 15px;
  width: 100%;
  margin: 0 auto;
  margin-left: auto;
  padding-right: 15px;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container__section-hero {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container__section-hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container__section-hero {
    width: 1200px;
  }
}

.container-footer {
  padding-left: 15px;
  width: 100%;
  margin: 0 auto;
  margin-left: auto;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container-footer {
    width: 480px;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    width: 1200px;
  }
}

.container__section-our-team {
  padding-left: 15px;
  width: 100%;
  margin: 0 auto;
  margin-left: auto;
  padding-right: 15px;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container__section-our-team {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container__section-our-team {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container__section-our-team {
    width: 1200px;
  }
}

.container-footer-port {
  padding-left: 15px;
  width: 100%;
  margin: 0 auto;
  margin-left: auto;
  padding-right: 15px;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container-footer-port {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-footer-port {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer-port {
    width: 1200px;
  }
}

.container-regular-customers {
  padding-left: 15px;
  width: 100%;
  margin: 0 auto;
  margin-left: auto;
  padding-right: 15px;
  margin-right: auto;
  padding: 0px;
}

@media screen and (min-width: 480px) {
  .container-regular-customers {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-regular-customers {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-regular-customers {
    width: 1200px;
  }
}

.header {
  background: #ffffff;
  color: #212121;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480) {
  .header__navigation {
    display: block;
  }
}

@media screen and (min-width: 768) {
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*меню*/
@media screen and (min-width: 768) {
  .header__navigation-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

.header__navigation-list a {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  margin-left: 50px;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__navigation-list :active,
.header__navigation-list :hover,
.header__navigation-list :focus {
  color: #2196f3;
}

.list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*полоска*/
.border-a ::after {
  content: "";
  position: absolute;
  background: #2196F3;
  border-radius: 2px;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .header__navigation-list :last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header__navigation-list :last-child {
    margin-right: 0px;
  }
}
/*# sourceMappingURL=main.css.map */