.container-header {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .container__section-hero {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  }

.container__section-advantages {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
    }

.section-our-work {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }

.container__section-our-team {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 1200px;
}

.container-filter-button {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    }
    
.container-cartridge {
    padding-left: 15px;
    width: 1200px;
    margin-left: auto;
    padding-right: 15px;
    flex-wrap: wrap;
    margin-right: auto;
    }

.container__section-hero {
    padding-left: 15px;
    width: 1200px;
    margin-left: auto;
    padding-right: 15px;
    margin-right: auto;
    }

.container-footer {
    padding-left: 15px;
    width: 1200px;
    margin-left:  auto;
    padding-right: 15px;
    display: flex;
    margin-right:  auto;
    }

.container__section-our-team{
    padding-left: 15px;
    width: 1200px;
    margin-left: auto;
    padding-right: 15px;
    margin-right: auto;
    }

.container-footer-port {
    padding-left: 15px;
    width: 1230px;
    margin-left: auto;
    padding-right: 15px;
    margin-right: auto;
    }

.container-regular-customers{
    padding-left: 15px;
    width: 1200px;
    margin-left: auto;
    padding-right: 15px;
    margin-right: auto;
    padding: 0px;
    }

.Container-img  {
    margin-bottom: 20px;
    margin-top: 0px;
    }
    