// .footer{
//     @media screen and(min-width:480px) {
//         background-color: #2f303a;
//         padding-top: 60px;
//         padding-bottom: 60px;
//          }
//     @media screen and(min-width:768px){
//         background-color: #2f303a;
//         padding-top: 60px;
//         padding-bottom: 60px;
//     }
//     @media screen and(min-width:1200px){
//         display: flex;
//         flex-direction: row;
    
//         background-color: #2f303a;
//         padding-top: 60px;
//         padding-bottom: 60px;
//     }
// }

// .footer__adres-div{
//     @media screen and(min-width:1200px){
//         margin-bottom: 60px;
//     }
//     @media screen and(min-width:1200px){}
//     @media screen and(min-width:1200px){
//         margin-right: 70px;
//     }
  
// }

// .footer__address{
//     display: flex;
//     font-style: normal;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
   
// }

// .footer__item{
//     @media screen and(min-width:1200px){
//         margin-bottom: 8px;
//     }
//     @media screen and(min-width:1200px){
// margin-bottom: 8px;
//     }
//     @media screen and(min-width:1200px){
//         margin-bottom: 9px;
//     }
    
//     &:focus,
//     &:hover{
//         color: $accent-color; 
//     }
// }

// .footer__logo{
//     font-family: Raleway;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
// }

// .footer__web-color{
//     color: #2196F3;
// }

// .footer__list{
//     padding: 0px;
//     padding-bottom: 0px;
//     margin-bottom: 0px;
//     &:last-child{
//     margin: 0px;
//     }
// }

// .footer__link-adress{
//     font-size: 14px;
//     line-height: 1.71;
    
//     letter-spacing: 0.03em;
//     color: #ffffff;
// }

// .footer-item__mail,
// .footer-item__telephone{
//     font-size: 14px;
//     line-height: 1.71;
    
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//     transition-property:color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
//     &:hover,
//     &:focus{
//         color: $accent-color;
//     }
// }

// .footer__social-network{
//     @media screen and(min-width:480px){}
//     @media screen and(min-width:768px){}
//     @media screen and(min-width:1200px){
//         margin-left: 70px;
//         padding: 0px ;
//     }
// }

// .footer__title-social-network{
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     justify-content: center;
//     margin-bottom: 20px;
//     color: #FFFFFF;
// }


// .footer-social-network__list{
//     @media screen and(min-width:480px){
//         display: flex;
//     }
//     @media screen and(min-width:768px){}
//     @media screen and(min-width:1200px){
//     display: flex;
//     padding: 0px;
//     margin: 0px;
//     }
// }

// .footer-social-network__item{
//     width: 44px;  
//     height: 44px;
//     fill: $background-cilir;
//     background-color:rgba(255, 255, 255, 0.1);
//     border-radius: 50%;
//     margin-right: 10px;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
//     &:hover,
//     &:focus,
//     &:active{
//      border-color: $accent-color ;
//     }
//     @media screen and(min-width:480px){}
//     @media screen and(min-width:768px){}
//     @media screen and(min-width:1200px){
//         &:last-child{
//             margin-right: 0px;}
//     }
// }

// .footer-social-network__item :hover{
//     background-color: $accent-color;
// }

// .footer-social-network__svg{
//     width: 20px;
//     height: 20px;
//     margin: 12px;
//     fill: $button-text-color;
//     &:hover,
//     &:focus{
//         background-color: $accent-color;
//         fill: $button-text-color;
//     }
// }

// .footer-social-network__link {
//     display: block;
//     border-radius: 50%;
//     width: 44px;
//     height: 44px;
//     transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     & :hover,
//     & :focus,
//     & :active{
//   border-color: $accent-color ;
//   }
// }

// .footer__subscribe-to-the-newsletter{
//     @media screen and(min-width:480px){}
//     @media screen and(min-width:768px){}
//     @media screen and(min-width:1200px){
//         margin-left: 93px;
//     }
   
// }

// .footer__heading-subscribe{
//     display: block;
  
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
  
//     color: #FFFFFF;
//     margin-bottom: 20px;
//     }

//     .footer__input-email input{
//         color: $backgroun-color-images;
// }

// .footer__input-email{
    
//     background: #2F303A;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     box-sizing: border-box;
//     text-decoration: #FFFFFF;
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     margin-right: 12px;
//     padding-left: 12px;
//     color: $backgroun-color-images;
//     @media screen and(min-width:480px){
//         width: 450px;
//     height: 50px;
//     margin-bottom: 20px;
//     }
//     @media screen and(min-width:768px){
//         width: 450px;
//     height: 50px;
//     }
//     @media screen and(min-width:1200px){
//         width: 358px;
//         height: 50px;
//     }
// }

// .footer__subscribe-button{
//     position: relative;
//     width: 200px;
//     height: 50px;
//     margin: 0px;
//     border: none;
    
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.87;  
    
//     align-items: center;
//     text-align: center;
//     letter-spacing: 0.06em;
      
//     color: #FFFFFF;
//     background: #2196F3;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     padding: 10px 62px 10px 29px;
// }

// .subscribe-to-the-newsletter__svg{
//     position: absolute;
//     content: "";
//     top: 0;
//     right: 0;
//     transform: translate(-96%, 50%);
//     display: inline-flex;
//     }

// .subscribe-to-the-newsletter-svg {
//     position: absolute;
//     content: "";
//     top: 0;
//     right: 0;
//     transform: translate(-96%, 50%);
//     display: inline-flex;
//     }

// .adress{
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: #FFFFFF;
//     }

// .footer__heading-social-network{
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: #FFFFFF;
//     margin-bottom: 20px;
//     font-weight: 700;
// }


.footer{
    display: flex;
    flex-direction: row;

    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 120px;
    @media screen and(min-width:480px) {
        display: block;
    }
    }

    .footer__adres{
        @media screen and(min-width:768px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media screen and(min-width:1200px){
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-between;
            align-items: center;
        }
    }

.footer__adres-div{
    margin-right:215px;
    @media screen and(min-width:1200px){
        display: flex;
    }
}

.footer-adress__w{
    @media screen and(min-width:480px){}
    @media screen and(min-width:768px){
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
    @media screen and(min-width:1200px) {
        display: flex;
    }
    
}

.footer__address{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    @media screen and(min-width:480px)and(max-width:767px) {
        // margin: 20px 124px 60px 124px;
        margin-bottom: 50px;
    }
    
}

.footer__item{
    margin-bottom: 8px;
    &:active,
    &:focus,
    &:hover{
        color: $accent-color; 
    }
}

.footer__logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    @media screen and(min-width:480px) {
        margin: 0px 0px 0px 151px ;
    }
    @media screen and(min-width:768px){
        margin: 0px;
    }
    @media screen and(min-width:1200px){
        margin: 0%;
    }
    
    }

.footer__web-color{
    color: #2196F3;
}

.footer__list{
    padding: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    &:last-child{
    margin: 0px;
    }
    @media screen and(min-width:480px){
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    }

.footer__link-adress{
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer-item__mail,
.footer-item__telephone{
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-property:color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
        color: $accent-color;
    }
    }

.footer__social-network{
    margin-right: auto;
    // margin-left: 70px;
    padding: 0px ;
    @media screen and(min-width:480px){
        margin: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
    //   margin-top: 60px;
      @media screen and(min-width:1200px){
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 50px;
      }

    }
}

.footer__title-social-network{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    justify-content: center;
    margin-bottom: 20px;
    color: #FFFFFF;
    }

.footer-social-network__list{
    padding: 0px;
    display: flex;
    margin: 0px;
}

.footer-social-network__item{
    width: 44px;  
    height: 44px;
    fill: $background-cilir;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:last-child{
        margin-right: 0px;
    }
    &:hover,
    &:focus,
    &:active{
    border-color: $accent-color ;
    }
}

.footer-social-network__item :hover{
    background-color: $accent-color;
}


.footer-social-network__svg{
    width: 20px;
    height: 20px;
    // margin: 12px;
    fill: $button-text-color;
    &:active,
    &:hover,
    &:focus{
        background-color: $accent-color;
        fill: $button-text-color;
    }
    }

.footer-social-network__link {
    display: block;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    & :hover,
    & :focus,
    & :active{
        border-color: $accent-color ;
    }
    @media screen and(min-width:480px){
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }

.footer__subscribe-to-the-newsletter{
    // margin-left: 93px;

    @media screen and(min-width:480px){
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and(min-width:1200px){
        margin-right: 0px;
display: flex;
// margin-right: auto;
margin-left: 90px;
    }
}


.footer__heading-subscribe{
    display: block;
  margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #FFFFFF;
    // margin-bottom: 20px;
    @media screen and(min-width:480px){
        // margin-left: 131px;
    }
}

.footer__input-email input{
    color: $backgroun-color-images;
}

.footer__input-email{
    height: 50px;
      background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    text-decoration: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    // margin-right: 12px;
    // padding-left: 12px;
    color: $backgroun-color-images;
    @media screen and(min-width:480px){
        width: 450px; 
        margin-bottom: 20px;
}
@media screen and(min-width:1200px){
    width: 358px;
    height: 50px;
    // margin-left: 93px;
    margin-right: 12px;

}
    }

    .footer__subscribe-button{
        position: relative;
        width: 200px;
        height: 50px;
        margin: 0px;
        border: none;
        
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;  
        
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
          
        color: #FFFFFF;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 10px 62px 10px 29px;
        @media screen and(min-width:480px){
            // margin-left: 140px;
        //    margin: 20px 140px 60px 140px;
        margin-left: 30%;
        }
        @media screen and(min-width:768px){
            margin: 0px;
        }
        @media screen and(min-width:1200px){
            margin-left: 0px;
        }
    }

.form{
    @media screen and(min-width:768px) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        // align-items: center;
        display: flex;
        flex-direction: row;
        
    }
}


.subscribe-to-the-newsletter__svg{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    transform: translate(-96%, 50%);
    display: inline-flex;
}

.subscribe-to-the-newsletter-svg {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    transform: translate(-96%, 50%);
    display: inline-flex;
    }

    .adress{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        }
    
    .footer__heading-social-network{
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
        font-weight: 700;
    }


