.header_portfolio{
    background: #ffffff;
    color: $prymery-text-color;
    border-bottom: 1px solid  #ECECEC; 
    }

.image-fone-portfolio{
    position: relative;
    /* overflow: hidden; */
    }
    .header__hide {
        display: none;
      }


