.section__filter-button{
    padding-bottom: 94px;
    padding-top: 94px;
}

.filter-button__list{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.filter-button__item{
    font-weight: 500;
font-size: 16px;
line-height: 1.62;
margin-left: 8px;
padding: 0px;

text-align: center;
letter-spacing: 0.03em;

color: #212121;
background: #f5f4fa;
border-radius: 4px;
// margin: 6px 22px;
padding: 6px 22px;
-webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// margin-right: 8px;
     &:hover,
     &:focus,
     &:active{
         color: #ffffff;
         background-color: $button-background;

}
}


.filter__button:last-child{
    margin-right: 0px
    }
.filter__button :hover,
.filter__button :active,
.filter__button :focus{
    color: #ffffff;
    background-color: var(--button-background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  
}

.filter__button{
    font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
  
     text-align: center;
     letter-spacing: 0.03em;
    //  color: $prymery-text-color;
     background: #f5f4fa;
     border-radius: 4px;
     padding: 6px 22px;
     transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover,
     &:focus,
     &:active{
         color: #ffffff;
         background-color: $button-background;
         box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
     }
    margin-right: 8px;
    & :last-child{
        margin-right: 0px;
    }
    }
    


.border{
    border: none;
    }