.header{
    background: #ffffff;
    color: $prymery-text-color;
    @media screen and(min-width:768px) {
        display: flex;
    }
   
    }

.header__navigation {
    @media screen and(min-width:480px) and (min-width:767px){
    display: block;
    }
    @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    }
    @media screen and(min-width:768px){
    display: flex;
    align-items: center;}
}
// /*меню*/
.header__navigation-list {
    @media screen and(min-width:480px){
        display: none;
    }

    @media screen and(min-width:768px){
    position: relative;
    display: flex;
    margin-left: 88px;
    }
    @media screen and(min-width:1200px){
        position: relative;
        display: flex;
        margin-left: 93px;
        }
    & a{
               color: $prymery-text-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition-property:color;
        transition-duration: 250ms;
        margin-left: 50px;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
    }
    & :active,
    & :hover,
    & :focus{
        color: $accent-color;
    }
}

.list{
    flex-wrap: wrap;
    // display: flex;
}

/*полоска*/
.border-a ::after{
    @media screen and(min-width:768px){
    content: "";
    position: absolute;
    background: #2196F3;
    border-radius: 2px;
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 4px;
    opacity:1;
    }
    @media screen and(min-width:1200px){
    content: "";
    position: absolute;
    background: #2196F3;
    border-radius: 2px;
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 4px;
    opacity:1;
    }
}

.current{
    @media screen and(min-width:768px){
    color: $accent-color;
    position: relative;
    height: 100%;   
    }
    @media screen and(min-width:768px){
        color: $accent-color;
        position: relative;
        height: 100%;   
        }
}

.header__navigation-list :last-child{
    @media screen and(min-width:768px) {
        margin-right: 0px;
    }
    @media screen and(min-width:1200px) {
        margin-right: 0px;
    }
}

.navigation-list__link{
    padding: 0px ;
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
}

.header-contakts__list{
    margin-bottom: 0px;
    margin-top: 0px;
    fill: $color-command-post;
       align-items: center;
// margin-top: 32px;
// margin-bottom: 32px;
margin-left: auto;
    
    & :hover,
    & :focus{
        color: #2196f3;
        fill: $accent-color;
    }
    @media screen and(min-width:480px){
   display: none;
      }

    @media screen and(min-width:768px){
        margin-right: 50px;
        display: flex;
        & :last-child{
            margin-right: 0px;
      }
      @media screen and(min-width:1200px){
        margin-right: 50px;
        display: flex;
        & :last-child{
            margin-right: 0px;}
      }
    }
}

.header-contakts__contakt-item{
    @media screen and(min-width:768px){
        fill: $color-command-post;
        margin-right: 50px;
    
        display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
        
        & :hover,
        & :focus{
            color: #2196f3;
            fill: $accent-color;
          }
          & :last-child{
            margin-right: 0px;
          }
          & a{
            font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 30px;
    color: #757575;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and(min-width:1200px){
        margin-top: 32px;
        margin-bottom: 32px;
    }
    }
  
    @media screen and(min-width:1200px){
    fill: $color-command-post;
    margin-right: 50px;

    display: flex;
margin-top: 32px;
margin-bottom: 32px;
margin-left: auto;
    
    & :hover,
    & :focus{
    color: #2196f3;
    fill: $accent-color;
    }
    & :last-child{
    margin-right: 0px;
    }
    & a{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 30px;
    color: #757575;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    }
}


.head-svg-mail{
    @media screen and(min-width:768px){
    height: 12px;
    margin-right: 10px;
    width: 16px;
}
@media screen and(min-width:1200px){
    height: 12px;
    margin-right: 10px;
    width: 16px;
    }
}

.head-svg-phone{
    @media screen and(min-width:768px){
    height: 16px;
    width: 10px;
    /* margin-right: 10px; */
    } 
    @media screen and(min-width:1200px){
    height: 16px;
    width: 10px;
    /* margin-right: 10px; */
    } 
}




.header__logl_botton{
   
    @media screen and(min-width:768px) {
        display: flex;
    }
}

.header__menu-button{
    @media screen and(min-width:480px) {
        position: absolute;
        top: 0;
        right: 0 ;
    
    display: inline-flex;
    border: 0;
    width: 40px;
    height: 40px;
    padding: 0px;
      margin-left: 241px;
      background-color: #fff;

      & :hover,
      & :focus,
      & :active{
          fill: $accent-color ;}
}}
 
.header__menu-button .icon-closet{
display: none;
}

.header__menu-button .is-open .icon-closet{
    display: block;
}

.header__menu-button .is-open .icon-menu{
    display: none;
}

.header__menu-button-svg{
  
    @media screen and(min-width:480px) {
        fill: black;
        width: 40px;
        height: 40px;
    
        & :hover,
        & :focus,
        & :active{
            fill: $accent-color ;
        }
    }
    @media screen and(min-width:768px){
        display: none;
    }
   
}

.mobile-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;  
    background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
text-align: center;
height: 10px;
}