
.header{
  
    
    background: #ffffff;
    color: $prymery-text-color;
    }

.header__navigation {
    display: flex;
    align-items: center;
    }

.header__navigation-list {
    position: relative;
    display: flex;
    margin-left: 93px;

    & a{
        color: $prymery-text-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition-property:color;
        transition-duration: 250ms;
        margin-left: 50px;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
    }
    & :hover,
    & :focus{
        color: $accent-color;
    }
    }

.list{
    flex-wrap: wrap;
    // display: flex;
    }

.border-a ::after{
    content: "";
    position: absolute;
    background: #2196F3;
    border-radius: 2px;
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 4px;
    opacity:1;
    }

.header__navigation-list :last-child{
    margin-right: 0px;
    }

.current{
    color: $accent-color;
    position: relative;
    height: 100%;   
    }

.navigation-list__link{
    padding: 0px ;
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
    }

    

    .header-contakts__list{
        margin-bottom: 0px;
        margin-top: 0px;
        fill: $color-command-post;
        margin-right: 50px;
        display: flex;

        align-items: center;
    // margin-top: 32px;
    // margin-bottom: 32px;
    margin-left: auto;
        
        & :hover,
        & :focus{
            color: #2196f3;
            fill: $accent-color;
          }
          & :last-child{
            margin-right: 0px;
          }
        }

        .header-contakts__contakt-item{
            fill: $color-command-post;
            margin-right: 50px;
    
            display: flex;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: auto;
            
            & :hover,
            & :focus{
                color: #2196f3;
                fill: $accent-color;
              }
              & :last-child{
                margin-right: 0px;
              }
              & a{
                font-weight: 500;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
                margin-left: 30px;
                color: #757575;
                transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
              }
            }

.head-svg-mail{
    height: 12px;
    margin-right: 10px;
    width: 16px;
    }

.head-svg-phone{
    height: 16px;
    width: 10px;
    /* margin-right: 10px; */
    }