.section-our-work__item{
    position: relative;
    }

.section-our-work__div{
    position: relative;
    }

.section-our-work-card-design__text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 0;
    bottom: 0;
    padding: 27px; 
    }

.section-our-work__card-design{
    position: absolute;
    display: block;
    bottom: 0;  
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    }

