.header__logo {
    font-style: normal;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    /* identical to box height */
    line-height: 1.19;
    letter-spacing: 0.03em;
    }

.logo__color {
    color: #2196f3;
    }

    .logo__color-a,
    .web-color-a {
    color: #000000;
    }

.footer__web-color-b {
        color: #ffffff;
      }