// .header__logo {
//     @media screen and (min-width:480px){
//         width: 480px;
//     }
//     font-style: normal;
//     font-family: Raleway;
//     font-size: 26px;
//     font-weight: 700;
//     /* identical to box height */
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     }

// .logo__color {
//     @media screen and (min-width:480px){
//         width: 480px;
//     }
//     color: #2196f3;
//     }

//     .logo__color-a,
//     .web-color-a {
//         @media screen and (min-width:480px){
//             width: 480px;
//         }
//     color: #000000;
//     }

// .footer__web-color-b {
//     @media screen and (min-width:480px){
//         width: 480px;
//     }
//         color: #ffffff;
//       }
.logo__color{
    color: $accent-color;
    font-weight: 700;
  font-size: 500px;
}