.header__logo {
  @media screen and(min-width:768px) {
    padding-top:26px ;
    padding-bottom:26px ;
      font-family: Raleway;
font-style: normal;
    font-weight: bold;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.03em;
  }
  @media screen and(min-width:1200px){
  font-style: normal;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  /* identical to box height */
  line-height: 1.19;
  letter-spacing: 0.03em;}
  }

.logo__color {
  color: #2196f3;
  }

  .logo__color-a,
  .web-color-a {
  color: #000000;
  }

.footer__web-color-b {
      color: #ffffff;
    }