.section-our-work{
    @media screen and(min-width:480px) {
        display: none;
    }
    @media screen and(min-width:768px){
        display: none;
    }
    @media screen and(min-width:1200px){
        display: block;
        padding-bottom: 94px;
    }
    
}


.section-our-work{
   
    padding-bottom: 94px;
}

.section-our-work__list{
    display: flex;
    margin-left: auto;
    margin-right: auto;
  /* padding: 0px; */
    margin: 0px;
    padding: 0px;

    & .section-our-work__item{
        margin-right: 30px;
    display: block;
    }
    & :last-child{
        margin-right: 0px;
    }
    }

.section-our-work__item{
    margin-right: 30px;
    display: block;
    }    

.section-our-work__item :last-child{
    margin: 0px;
    }

.section-our-work__title{
    @media screen and(min-width:1200px){
        margin-bottom: 50px;
        
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);
        text-align: center;
        letter-spacing: 0.03em;
        
        color: #212121;
    }
}

    






