.section-our-work{
   
    padding-bottom: 94px;
}

.section-our-work__list{
    display: flex;
    margin-left: auto;
    margin-right: auto;
  /* padding: 0px; */
    margin: 0px;
    padding: 0px;

    & .section-our-work__item{
        margin-right: 30px;
    display: block;
    }
    & :last-child{
        margin-right: 0px;
    }
    }

.section-our-work__item{
    margin-right: 30px;
    display: block;
    }    

.section-our-work__item :last-child{
    margin: 0px;
    }

.section-our-work__title{
       margin-top: 0;
    margin-bottom: 50;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    }

    






