.section-our-team{
    background: #f5f4fa;
}

.section-our-team__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0px;
    margin-bottom: 50px;
    background: #f5f4fa;
      padding-top: 94px;
    }

.section-our-team__title-name{
    padding-top: 0px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

        text-align: center;
    letter-spacing: 0.03em;
    color: $prymery-text-color;
    }

.section-our-team__text-spetikatoon{
    padding-top: 0px;
  
}

.section-our-team__list{
    display: flex;
    padding: 0px;
    padding-bottom: 94px;
    
}

.section-our-team__item,
.section-our-team__item-a{
    border-radius: 0px 0px 4px 4px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    width: 270px;
    height: 428px;
    }

.section-our-team__item{
margin-right: 30px;
}

.section-our-team__item-a{
    margin-right: 0px;
}

.section-our-team__text-spetikatoon{
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-command-post;
    }

.section-our-team__spetifikation{
    // padding-bottom: 30px;
    // padding-top: 30px;
    padding: 30px 32px;
    }

.section-our-team__photo{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    }

    /////////********Ссылки******///////

.section-our-team__list-contacts{
    display: flex; 
    margin-top: 16px;
    margin-bottom: 30px;
    & :last-child{
        margin-right: 0px;
    }
    }

.section-our-team__list-contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-top: 16px;
    }
    
.section-our-team__item-contacts{
    padding: 0px;
    border: none;
    /* fill: currentColor; */
    justify-content: center;
    background-color: $button-text-color;
    margin-right: 10px;
    fill: $color-of-the-costumers;
    /* transition-property: background;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: (0.4, 0, 0.2, 1); */
    & :hover,
    & :focus{
    background-color: $accent-color;
    fill: $backgroun-color-images;
    }
    }

.section-our-team__link-contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    fill: $color-of-the-costumers;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

.section-our-team__svg-contacts{
    width: 20px;
    height: 20px;
    margin: 12px;
}


