.container-cartridge{
    margin-top: 0px;
    margin-bottom: 20px;
    }

    .cartridge__item{
   
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        width: 370px;
        margin-right: 30px;
       margin-bottom: 30px;
       &:hover .cartridge__text,
       &:focus .cartridge__text{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        transform: translateY(0);
       }
       &:hover,
       &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16)
       }
       @media screen and(min-width:480px) and(max-width:767px) {
        margin-right: 0px;
      
        width: 100%;
       }
    //    @media screen and(max-width:768px) {
    //        margin: 15px;
    //        flex-basis: calc(100% - 30px);
    //    }
       @media screen and(min-width:768px)  {
        // margin-right: 0px;
        width: 100%;
        // margin: 15px;
        @include item(null, null, null, null, 15px, 2, 30px) 
       }
       @media screen and(min-width:1200px){
        @include item(null, null, null, null, 15px, 3, 30px) 
       }
    }

.cartridge__name{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 4px;
}

.ccartridge-picture__text{
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.cartridge__list{
   
    @media screen and(min-width:480px) {
        display: block;
        width: calc((100%-1*30)/1);
        flex-wrap: nowrap;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }
        // У  Б  Р  А  Л  
        // & :not(:nth-last-child(-n+3)){
        //     margin-bottom: 30px;}
            @media screen and(min-width:768px){
                // @include list(null,null, null, null,-15px,wrap);
                width: calc((100%-2*30)/1);
                display: flex;
                flex-wrap:wrap;
                & :nth-child(2n){
                    margin-right: 0px;
                }
                margin: -15px;
                // flex-direction: column;
              flex-direction: row;
                @include list (null, null, null, null, -15px, wrap)

                
            }
            @media screen and(min-width:1200px){
                display: flex;
                flex-wrap: wrap;
                padding: 0px;
                //   У  Б  Р  А  Л  
                & :nth-child(3n+3){
                margin-right: 0px; 
                }
                  // У  Б  Р  А  Л  
                & :nth-last-child(-n+3){
                    margin-bottom: 0px;
                   
                }
            }
       }
    
  
    

.cartridge__name{
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $prymery-text-color;

}

.cartridge__text{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px 24px;

    display: block;
  
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $backgroun-color-images !important ;
    padding: 0px 24px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px 24px;
    transform: translateY(100%);
    
    background-color: rgba(33, 150, 243, 0.9);
    transition:  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 0px;
    font-size: 16px;
    line-height: 1.88;
  
    letter-spacing: 0.03em;
    color: $color-command-post;
}

.image__div{
    padding: 20px 24px;
}

.list{
    text-decoration: none;
    }

.image-fone-portfolio{
    position: relative;
    overflow: hidden;
}


