.header_portfolio{
    background: #ffffff;
    color: $prymery-text-color;
    border-bottom: 1px solid  #ECECEC; 
    }

    .header__hide {
        display: none;
      }

      .image-fone-portfolio{
        position: relative;
        /* overflow: hidden; */
        }