$prymery-text-color: #212121;
$accent-color: #2196f3;
$button-background: #2196f3;
$color-command-post: #757575;
$button-text-color: #ffffff;
$color-of-the-costumers: #AFB1B8;
$color-sprite: #afb1b8;
$backgroun-color-images: #F5F4FA; 
$backgroun-color-images: #F5F4FA;
$title-text-color: #212121;
$background-cilir: #ffffff;
$color-command-name: #212121;
